.div-style{
  margin: 10px;
  position: relative;
  justify-content: center;
  display: flex;
  max-width: 550px;
  max-height: 250px;
  border-radius: 30px;
  box-shadow: 0 0 15px black;
  border: 1px solid;
}

.img-style {
  margin: 5px;
  background-color: white;
  max-height: 120px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(50, 50, 50);
  border-radius: 90px;
}

.table-style {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  font-size: 25px;
  text-shadow: 0 0 1px rgb(0, 0, 0);
}
