.div-style{
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 550px;
  max-height: 250px;
  margin: 10px;
  border: 1px solid;
  border-radius: 30px;
  box-shadow: 0 0 15px black;
}

.imgToWeatherElement-style {
  max-height: 120px;
  margin: 5px;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 90px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.table-style {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px #000000,
  0 0 5px #000000,
  0 0 5px #000000,
  0 0 5px #000000;
}
